@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #16222a, #3a6073); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: grid;
    place-items: center;
}
header{
    width: 85%;
    height: 95%;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
}
.menu-side{
    width: 25%;
    height: 90%;
    /* border: 1px solid black; */
    color: cornsilk;
    
}
.song-side{
    width: 75%;
    height: 90%;
    /* border: 1px solid black; */
}
.play-bar{
    width: 100%;
    height: 10%;
    /* border: 2px solid yellow; */
}
.logo{
    height: 20%;
    width: 95px;
    background-image: url(LOGO1SH.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    margin-top: 1rem;
    border-radius: 50%;
    border: 1px solid #292e49;
    box-shadow: 3px 2px 3px 3px #292e49;
    /* border-radius: 50%; */
}
.goback{
    height: max-content;
    width:100%;
    word-spacing: 5px;
    font-weight: 800;
    text-align: center;
    margin-top: 1rem;
    /* border: 1px solid white; */
}
.goback a{
    text-decoration: none;
    color: cornsilk;
    transition: text-shadow 0.3s ease; /* Smooth transition for the glow effect */

}
i{
   font-size: 14px;
   
}
a:hover{
    color: white;
    text-shadow: 0 0 9px white;
}
.playlist{
    margin: 10px 0px 0px 5px;
    /* border: 1px solid white; */
    word-spacing: 5px;
}
.playlist h4{
     color: cornsilk;
     cursor: pointer;
     transition: text-shadow 0.3s linear;
     
}
.playlist h4:hover{
    color: white;
    text-shadow: 0 0 9px white;
}
.menu-songs{
    width: 100%;
    height: 332px;
    /* border: 1px solid white; */
    margin-top: 15px;
    overflow: auto;
}
/* webkit-scrollbar se scrollbar hta dia kaam ki cheez hai webkit to */
.menu-songs::-webkit-scrollbar{
    display: none;
}
header .menu-side .menu-songs li{
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}
header .menu-side .menu-songs li:hover{
    background: rgba(150, 149, 149, 0.1);
}
header .menu-side .menu-songs li span{
    font-size: 13px;
    font-weight: 600;
    color: #74a9c4;
}
header .menu-side .menu-songs li img{
    width: 32px;
    height: 32px;
    margin-left: 15px;
}
header .menu-side .menu-songs li h5{
    font-size: 15px;
    margin-left: 15px;
    width: 140px;
    /* border: 1px solid white; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
header .menu-side .menu-songs li h5 .subtitle{
    font-size: 11px;
    color: #74a9c4;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header .menu-side .menu-songs li i{
    position: relative;
    /* right: 5px; */
    /* gave left instead of right */
    left: 30px;
}

/* FOR WAVE */
header .play-bar{
    display: flex;
    align-items: center;
    padding: 0px 20px; 
    
}

header .play-bar .wave{
    width: 30px;
    height: 30px;
    /* border: 1px solid white; */
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}
header .play-bar .wave .wave1{
    width: 3px;
    height: 16px;
    background: #9dd8f5;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    animation: unset;
    
}
header .play-bar .wave .wave1:nth-child(2){
    
    height: 18px;
    margin-right: 3.5px;
    animation-delay: .4s;
}
header .play-bar .wave .wave1:nth-child(3){
    
    height: 13px;
    animation-delay: .8s;

}

/* javascript classes */
header .play-bar .active1 .wave1{
    animation: wave .5s linear infinite;
}
header .play-bar .active1 .wave1:nth-child(2){
    animation-delay: .4s;
}
header .play-bar .active1 .wave1:nth-child(3){
    animation-delay: .8s;

}

@keyframes wave{
    0%{
        height: 10px;
    }
    50%{
        height: 15px;

    }
    100%{
        height: 10px;

    }
}
header .play-bar img {
    /* border: 3px solid white; */
    width: 35px;
    height: 35px;
}
header .play-bar h5{
    width: 110px;
    /* border: 1px solid white; */
    margin-left: 15px;
    color: cornsilk;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
header .play-bar h5 .subtitle{
    font-size: 11px;
    color: #74a9c4;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
header .play-bar .icon{
    /* font-size: 20px; */
    color: white;
    margin: 0px 20px 0px 10px;
    outline: none;
    display: flex;
    align-items: center;
    gap: 10px;

}
header .play-bar .icon #download_music{
    text-decoration: none;
    color: white;
}
header .play-bar .icon .bi{
    font-size: 16px;
    cursor: pointer;
    outline: none;
}
header .play-bar .icon .shuffle{
    /* font-size: 13px; */
    margin-right: 3px;
    width: 16px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
header .play-bar span{
    color: white;
    width: 32px;
    margin-right: 5px;
    /* font-size: 14px; */
    /* border: 1px solid white; */
}
/* header .play-bar #currentstart{
    
} */
header .play-bar .bar{
    position: relative;
    width: 43%;
    height: 2px;
    background: rgba(151, 151, 153, 0.699);
    margin: 0px 15px 0px 10px;
}
header .play-bar .bar .bar2{
    position: absolute;
    background-color:#9dd8f5;
    width: 0;
    height: 100%;
    top: 0;
    transition: 1s linear;
}
header .play-bar .bar .dot{
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color:#9dd8f5;
    left: 0%;
    top: -2px;
    transition: 1s linear;

}
header .play-bar .bar .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height:15px ;
    border:1px solid #9dd8f5 ;
    border-radius:50% ;
    left: -5px;
    top: -5px;
    box-shadow: inset 0px 0px 5px #9dd8f5;

}
header .play-bar .bar input{
    position: absolute;
    width: 100%;
    top: -6.8px;
    left: 0;
    cursor: pointer;
    z-index: 10000000;
    opacity: 0;
}
header .play-bar .vol{
    position: relative;
    width: 98px;
    height: 2px;
    background: rgba(151, 151, 153, 0.699);
    margin-left: 40px;
}
header .play-bar .vol .bi{
    position: absolute;
    color:white;
    font-size: 15px;
    top: -7px;
    left: -25px;
}
header .play-bar .vol input{
    position: absolute;
    width: 100px;
    top: -7px;
    left: -1px;
    cursor: pointer;
    z-index: 100000000000;
    opacity: 0;
}
header .play-bar .vol .vol_bar{
    position: absolute;
    background-color: #9dd8f5;
    width: 100%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}
header .play-bar .vol .dot{
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color:#9dd8f5;
    left: 100%;
    top: -2px;
    transition: 1s linear;

}
header .play-bar .vol .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height:15px ;
    border:1px solid #9dd8f5 ;
    border-radius:50% ;
    left: -5px;
    top: -5px;
    box-shadow: inset 0px 0px 5px #9dd8f5;
}
header .song-side h1{
    text-align: center;
    align-items: center;
    padding: 15px;
    text-decoration: underline;
    font-size: 90px;
    font-weight: 600;
    font-family: 'Niconne', cursive;
    color: cornsilk;
    text-shadow: 2px 2px 0px  #957dad,
                 4px 4px 0px #ee4b2b,
                 6px 6px 0px #00c2cb,
                 8px 8px 0px #ff7f50,
                 10px 10px 0px white;
    /* border: 1px solid white; */
}
header .song-side .popular-song{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 25px;
    /* border: 1px solid white; */
    color: cornsilk;
    font-weight: bolder;
}
header .song-side .popular-song .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .song-side .popular-song .h4 .bi{
    cursor: pointer;
    transition: textshadow font-size .3s ease-in-out;

}
header .song-side .popular-song .h4 .bi:hover{
    text-shadow: 0px 0px 5px white;
    color: white;
    font-size: 17px;
}
header .song-side .popular-song .pop-song{
    width: 100%;
    height: 150px;
    margin-top: 15px;
    display: flex;
    /* border: 1px solid white; */
    overflow: auto;
    scroll-behavior: smooth;
}
header .song-side .popular-song .pop-song::-webkit-scrollbar{
    display: none;
}
header .song-side .popular-song .pop-song li{
    min-width: 100px;
    height: 140px;
    list-style-type: none;
    margin-right: 10px;
    transition: .3s linear;

}
header .song-side .popular-song .pop-song li:hover{
    background: rgba(150, 149, 149, 0.1);

}
header .song-side .popular-song .pop-song li .img-play{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .song-side .popular-song .pop-song li .img-play img{
    width: 100%;
    height: 100%;
}
header .song-side .popular-song .pop-song li .img-play .bi{
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0;
}
header .song-side .popular-song .pop-song li:hover .img-play .bi{
    opacity: 1;
}
header .song-side .popular-song .pop-song li h5{
    padding: 5px 0px 0px 5px;
    line-height: 15px;
    font-size: 15px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
header .song-side .popular-song .pop-song li h5 .subtitle{
    font-size: 11px;
    color: #74a9c4;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
header .song-side .popular-artist{
    width: 90%;
    height: auto;
    /* border: 1px solid white; */
    margin: auto;
    margin-top: 15px;
    color: cornsilk;
    font-weight: bolder;
}
header .song-side .popular-artist .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .song-side .popular-artist .h4 .bi{
    cursor: pointer;
    transition: textshadow font-size .3s ease-in-out;

}
header .song-side .popular-artist .h4 .bi:hover{
    text-shadow: 0px 0px 5px white;
    color: white;
    font-size: 17px;
}
header .song-side .popular-artist .item{
    width: 100%;
    height: 110px;
    margin-top: 15px;
    display: flex;
    /* border: 1px solid white; */
    overflow: auto;
    scroll-behavior: smooth;
}
header .song-side .popular-artist .item::-webkit-scrollbar{
    display: none;
}
header .song-side .popular-artist .item li{
    list-style-type: none;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}
header .song-side .popular-artist .item li img{
    width: 100px;
    height: 100px;
    border-radius: 50%;

}